@import "tailwindcss";

@theme {
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-scroll-left: scroll-left 30s linear infinite;
  --animate-scroll-right: scroll-right 30s linear infinite;

  @keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  @keyframes scroll-right {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }

}


:root {
  
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  
  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);
  
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  
  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  
  --radius: 0.5rem;
}


.dark {
    --background: hsl(240 10% 3.9%);
    --foreground: hsl(0 0% 98%);
    
    --card: hsl(240 10% 6%);
    --card-foreground: hsl(0 0% 98%);
    
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(240 5.9% 10%);
    
    --secondary: hsl(240 3.7% 15.9%);
    --secondary-foreground: hsl(0 0% 98%);
    
    --muted: hsl(240 3.7% 15.9%);
    --muted-foreground: hsl(240 5% 64.9%);
    
    --accent: hsl(240 3.7% 15.9%);
    --accent-foreground: hsl(0 0% 98%);
    
    --border: hsl(240 3.7% 15.9%);
    --input: hsl(240 3.7% 15.9%);
}


body {
  background-color: var(--background);
  color: var(--foreground);
  
}


* {
  border-color: var(--border);
}